 @using ramenHouse.ViewModels
@model UserViewModel



<div id="authentication-bg-container" class="m-auto flex h-screen w-full items-center justify-center bg-yellow-50 md:w-10/12 xl:w-8/12">
    


        <form method="post" asp-action="Login" asp-controller="Authentication" id="login-container" class="relative flex h-3/6 w-full flex-col items-center justify-around rounded-xl border bg-white shadow-md md:w-6/12 xl:w-4/12">

        <div asp-validation-summary="ModelOnly" class="text-red-600"></div>
            <h1>
                Staff login
            </h1>

            <div class="flex w-full flex-col items-center">

                <div id="email-block" class="my-2 flex w-9/12 flex-col">


                    <label for="auth-email">Email Address</label>
                    <input type="text" id="auth-email" class="rounded border" name="Email" />
                </div>

                <div id="password-block" class="my-2 flex w-9/12 flex-col">


                    <label for="password">password</label>
                    <input type="text" id="auth-password" class="rounded border" name="Password" />
                </div>


            </div>

            <button type="submit" class="w-7/12 rounded border bg-yellow-700 py-2 text-white">Login</button>
        <img src="/imgs/application/chefStickerTransparentBg.png" alt="chef" class="img-overlapping-right-bottom absolute object-contain" style="width:200px;height:200px" />
        </form>
    
</div>