@using ramenHouse.ViewModels.Admin
@model List<AllergyViewModel>



<button id="create-allergy-toggle" type="button" class="mb-4 mt-4 rounded-full border bg-blue-600 px-4 py-2 text-white hover:bg-blue-700"><p>Create Allergy</p></button>
<div id="create-new-allergy-form" class="toggle-form-container mb-4 w-full overflow-hidden">
    <form class="create-form-container" id="create-allergy-form">
        <div>

            <label for="allergy-name">
                Allergy Name
            </label>
            <input id="allergy-name" name="name" type="text" class="ml-4 border-b border-yellow-700 focus:outline-0 focus:border" />
        </div>
        <div>

            <label for="allergy-abbreviation">
                abbreviation
            </label>
            <input id="allergy-abbreviation" name="abbreviation" type="text" class="ml-4 border-b border-yellow-700 focus:outline-0 focus:border" />
        </div>
        <div>
            <button type="submit" class="rounded-full border bg-blue-600 px-4 py-2 text-white hover:bg-blue-700">Create</button>

        </div>
    </form>

</div>
<div id="allergies-management"></div>




@section Scripts {
    <script src="/lib/jquery.gui-grid.js"></script>
    <script>
        const source = @Html.Raw(Json.Serialize(Model))
    </script>
    <script src="/js/admin/allergiesList.js"></script>
}
