@using ramenHouse.ViewModels
@model AdminViewModel

@{

    var meals = Model.meals;

    var source = meals.Select(meal =>
    {
        var salePrice = meal.BasePrice * (1 - meal.Discount);
        return
        new
        {
            mealId = meal.MealId,
            dishName = meal.Title,
            description = meal.Description,
            imageUrl = meal.ImageUrl,
            rating = meal.Rating,
            allergies = meal.AllergiesLong,
            basePrice = meal.BasePrice,
            discount = meal.Discount,
            salePrice = salePrice,
            isFeatured = meal.IsFeatured,

            deleteId = meal.MealId

        };
    });
}

¨<a href="admin/mealcreate"><button type="button" class="rounded-full border bg-blue-600 px-4 py-2 text-white hover:bg-blue-700"><h1>Create Meal</h1></button></a>
<div class="h-16"></div>
<div id="meals-management"></div>


@section Scripts {
    <script src="/lib/jquery.gui-grid.js"></script>
    <script>

        const source = @Html.Raw(Json.Serialize(source))

                const grid = $('#meals-management').guiGrid({
            columns: [
                {
                    header: "Meal ID",
                    field: "mealId"
                },
                {
                    header: "Dish Name",
                    field: "dishName"
                },
                {
                    header: "Description",
                    field: "description"
                },
                {
                    header: "Image URL",
                    field: "imageUrl"
                },
                {
                    header: "Rating",
                    field: "rating"
                },
                {
                    header: "Allergies",
                    field: "allergies"
                },
                {
                    header: "Base Price",
                    field: "basePrice"
                },
                {
                    header: "Discount",
                    field: "discount"
                },
                {
                    header: "Sale Price",
                    field: "salePrice"
                },
                {
                    header: "Featured Meal",
                    field: "isFeatured"
                },
                {
                    header: '',
                    field: 'deleteId',

                    view: function (value) {
                        return `
                                                       <button onClick="deleteMeal(${value})" type="button" class="rounded-full border bg-red-900 px-4 py-2 text-white hover:bg-red-700">Delete</button>
                                       `
                    },
                    cellEditing: {
                        enabled: false
                    },
                }

            ],
            source: source,
            cellEditing: true,
            onSourceEdit: editMeal,
        });


        function editMeal(e) {

            console.log("the source is edit", e.after)
            console.log("the source is edit", e.before)

            const data = e.after

            fetch("/Admin/MealUpdate", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })

            console.log("grid", grid)
            const newSource = source.map((meal) => {
                if (meal.mealId === e.after.mealId) {
                    mealModified = e.after
                    mealModified.salePrice = mealModified.basePrice * (1 - mealModified.discount)
                    return mealModified
                }
                return meal
            });
            grid.setSource(newSource)

        }

        function deleteMeal(deleteId) {
            console.log("meal' Id to be delete", deleteId);


            fetch("/Admin/MealDelete", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(deleteId)
            })
            .then(response => response.json()) // Parse the JSON from the response
            .then(data => {
                if (data.success) {
                    location.reload(); // Refresh the page
                } else {
                    // Handle error
                    console.error(data.message);
                }
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
}

