@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h1 class="text-yellow-400 hover:text-indigo-600">testing</h1>

    <div class="flex justify-center">

    <img class="w-3/12 rounded-full"src="https://www.eatthis.com/wp-content/uploads/sites/4/2019/02/general-tso-chicken.jpg?quality=82&strip=1" />
    </div>
</div>


