

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#hero-section{
   
  grid-template-rows:repeat(4,minmax(15vh,1fr));
}

#dish-img-mosaic {
    grid-template-rows: repeat(12,minmax(5px,50px));
}

.card-aspect-ratio{
    aspect-ratio:2/3;
}

.card-height{
    height: 500px;
}


.img-overlapping-right-bottom {
    right: -30%;
    bottom: -20%;
}

.loading-container{
    width:100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-model{
    position: absolute;
    left: 50%;
    top: 10rem;
    transform: translateX(-50%);

    width: 15rem;
    height: 15rem;
    z-index:100;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}