@model List<string>

@{
    var filters = new List<string>(Model);
    filters.Insert(0, "All");


}

<div id="menu-section-container" class="m-auto w-full md:w-10/12 xl:w-8/12">

    <div id="menu-filter" class="flex py-4">
        @foreach (var category in filters)
        {
            <div class="me-4 rounded-full border border-yellow-700 hover:text-white hover:bg-yellow-700">
                <a href="/Menu?Category=@category"><p class="px-4 py-2">@category</p></a>

            </div>
        }
    </div>
    <div id="menu-loading" class="loading-container" >
        <img src="/imgs/application/Hourglass.gif" alt="loading state indicator" />
    </div>
    <div id="menu-content-container"></div>

 
</div>

@section Scripts{
    <script>
        const category = @Html.Raw(Json.Serialize(ViewData["category"] ?? ""));
    </script>
    <script src="/js/menu/fetchMenuList.js" ></script>
}