<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ramenHouse</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <script src="https://cdn.tailwindcss.com"></script>*@
    <script src="~/lib/tailwindcss.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ramenHouse.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib//openLayers/index-CqS91oZv.css" asp-append-version="true" />

</head>
<body>
    <header class="m-auto mb-16 mt-4 flex w-full items-center justify-between md:w-10/12 xl:w-8/12">

        <img src="/imgs/application/RamenHouse.jpg" alt="RamenHouse logo Text" class="h-16" />
        <nav class="flex gap-4">
            <a href="/"><p class="text-yellow-700 underline">Home</p></a>
            <a href="/menu"><p class="text-black">Menu</p></a>

            <a href="/#special-offer"><p class="text-black">Offers</p></a>
            <a href="/#about"><p class="text-black">About</p></a>
            @if (User.Identity.IsAuthenticated)
            {

                <a href="/admin"><p class="text-black">Restaurant Management</p></a>
            }

        </nav>
        <a href="/#how-to-find-us">
            <div id="header-contact" class="flex items-center rounded-full border bg-yellow-700 text-white hover:bg-yellow-600">
            
            <p class="px-4 py-2 text-white">Contact</p>
            </div>
        </a>


    </header>
    <div class="w-full">
        <main role="main" class="w-full">
            @RenderBody()
        </main>
    </div>

   

    <footer>
        <div id="main footer" class="m-auto my-16 flex w-full items-stretch justify-around md:w-10/12 xl:w-8/12">
            <div id="footer-logo" class="flex w-48 flex-col items-start">

                <img src="/imgs/application/RamenHouse.jpg" alt="RamenHouse logo Text" class="h-16 object-contain md:h-32" />
                <p class="text-wrap">The standard chunk of Lorem Ipsum used since the 1500.</p>

            </div>
            <div id="footer-menu" class="flex flex-col">
                <p>Site Navigation</p>
                <a href="#"><p class ="text-yellow-700 underline">Home</p></a>
                <a href="#special-offer"><p>Offers</p></a>
                <a href="/menu"><p>Menu</p></a>
                <a href="/#about"><p>About</p></a>
            </div>
            <div id="footer-contact-us" class="flex flex-col">
                <p>Contact us</p>
                <a href="#"><p>example@gmail.com</p></a>
                <a href="#"><p>+3586119151651</p></a>
                <a href="#"><p>Social media</p></a>

            </div>
            <div id="footer-contact-us" class="flex flex-col">
                <div class="flex flex-col">
                    <a href="#">
                        <div class="flex items-center">
                            <p>Facebook</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="flex items-center">
                            <p>Instagram</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="flex items-center">
                            <p>Youtube</p>
                        </div>
                    </a>
                </div>
                <a href="/authentication">
                    <div class="flex items-center">
                        <p>Staff Login</p>
                    </div>
                </a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @*  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
