<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ramenHouse</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ramenHouse.styles.css" asp-append-version="true" />
    @* <script src="https://cdn.tailwindcss.com"></script>*@
   
</head>
<body>
    <header class="m-auto mb-16 mt-4 flex w-full items-center justify-between md:w-10/12 xl:w-8/12">
        
        <img src="/imgs/application/RamenHouse.jpg" alt="RamenHouse logo Text" class="h-16"/>
        <nav class="flex gap-4">
            <a  href="/"><p class="text-yellow-700 underline">Home</p></a>
            <a  href="/menu"><p class="text-black">Menu</p></a>

            <a  href="#"><p class="text-black">Offers</p></a>
            <a  href="#"><p class="text-black">About</p></a>
            @if (User.Identity.IsAuthenticated)
            {
                
            <a href="/admin"><p class="text-black">Restaurant Management</p></a>
            }

        </nav>
        <div id="header-contact" class="flex items-center rounded-full border bg-yellow-700 text-white hover:bg-yellow-600">
            <img src="/icons/phone-outline.svg" alt="Alternate Text" class="ml-2 h-6" />
            <p class="px-4 py-2 text-white">Contact</p>
        </div>

        
    </header>
    <div class="w-full">
        <main role="main" class="w-full">
            @RenderBody()
        </main>
    </div>

    <!--<footer class="grid-rows-8 grid-cols-8 mx-auto my-8 grid w-full auto-rows-fr gap-1 md:w-10/12 xl:w-8/12">
        <div id="footer-logo" class="row-span-4"><img src="/imgs/RamenHouse.jpg" alt="RamenHouse logo Text"  /></div>
        <div class="col-start-3">Site Navigation</div>
        <div class="col-start-5">contact us</div>
        <div class="col-start-7 col-end-9">facebook,instgram,youtube</div>
        <div class="col-start-3 row-start-3">home</div>
        <div class="col-start-5 row-start-3">email</div>
        <div class="col-start-3 row-start-4">offers</div>
        <div class="col-start-1 col-span-2 row-start-5 row-end-7">The standard chunk of Lorem Ipsum used since the 1500.</div>
        <div class="col-start-3 row-start-5">menu</div>
        <div class="col-start-5 row-start-5">social media</div>
        <div class="col-start-3 row-start-6">reservation</div>
        <div class="col-start-7 col-span-2 row-start-6 justify-self-end">login</div>
        <div class="col-start-5 row-start-4">3581656161</div>
        <div class="col-start-5 row-start-4">3581656161</div>
        <div class="col-start-4 col-span-2 row-start-8">copyright</div>

        
    </footer>-->

    <footer>
        <div id="main footer" class="m-auto my-16 flex w-full items-stretch justify-around md:w-10/12 xl:w-8/12">
            <div id="footer-logo" class="flex w-48 flex-col items-start">

                <img src="/imgs/application/RamenHouse.jpg" alt="RamenHouse logo Text" class="h-16 object-contain md:h-32" />
                <p class="text-wrap">The standard chunk of Lorem Ipsum used since the 1500.</p>
                
            </div>
            <div id="footer-menu" class="flex flex-col">
                <p>Site Navigation</p>
                <a href="#"><p>Home</p></a>
                <a href="#"><p>Offers</p></a>
                <a href="#"><p>Menus</p></a>
                <a href="#"><p>Reservation</p></a>
            </div>
            <div id="footer-contact-us" class="flex flex-col">
                <p>Contact us</p>
                <a href="#"><p>example@gmail.com</p></a>
                <a href="#"><p>+3586119151651</p></a>
                <a href="#"><p>Social media</p></a>
                
            </div>
            <div id="footer-contact-us" class="flex flex-col">
                <div class="flex flex-col">

                <a href="#"><p>Facebook</p></a>
                <a href="#"><p>Instgram</p></a>
                <a href="#"><p>Youtube</p></a>
                </div>
                <a href="/authentication"><p>Staff Login</p></a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/tailwindcss.js"></script>
   @*  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
